body {
  margin: 0;
  padding: 0;
}

h1 {
  /* border: 5px; */
  text-align: center;
}

.indomie {
  text-align: center;
}

.vibez {
  display: flex;
  justify-content: space-around;
}

.vibez__1 {
  margin: 10px;
  padding: 5px;
}

.poblems {
  display: flex-start;
}

h4 {
  font-size: larger;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: rgb(0, 204, 255);
}
